In [4]:
import pandas as pd
import numpy as np

# Practing pd.df.merge

## Merging on one column

In [269]:
df1 = pd.DataFrame(np.random.randint(0,100,size=(100, 3)), columns=list('ABC'))

In [270]:
df2 = pd.DataFrame(np.random.randint(0,100,size=(100, 3)), columns=list('ADE'))
df2.A = df1.A.copy(deep=True)

In [271]:
df1 = df1.append([{'A':100, 'B':0, 'C':0}],ignore_index=True)
df2 = df2.append([{'A':200, 'D':0, 'E':0}],ignore_index=True)

In [265]:
df1[(df1.A==100) | (df1.A==200)]

       A  B  C
100  100  0  0

In [266]:
df2[(df2.A==100) | (df2.A==200)]

       A  D  E
100  200  0  0

### inner

In [251]:
merged_inner = df1.merge(df2,on="A")

In [252]:
merged_inner.loc[(merg
                  ed_inner.A == 100) | (merged_inner.A == 200)]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

### Outer

In [267]:
merged_outer = df1.merge(df2,how='outer')

In [268]:
merged_outer.loc[(merged_outer.A == 100) | (merged_outer.A == 200)]

       A    B    C    D    E
194  100  0.0  0.0  NaN  NaN
195  200  NaN  NaN  0.0  0.0

### Left

In [259]:
merged_left = df1.merge(df2,how='left')

In [260]:
merged_left.loc[(merged_left.A == 100) | (merged_left.A == 200)]

       A  B  C   D   E
194  100  0  0 NaN NaN

### Right

In [261]:
merged_right = df1.merge(df2,how='right')

In [262]:
merged_right.loc[(merged_right.A == 100) | (merged_right.A == 200)]

       A   B   C  D  E
194  200 NaN NaN  0  0

## Merging on two columns

In [277]:
df1_2 = pd.DataFrame(np.random.randint(0,100,size=(100, 3)), columns=list('ABC'))

In [278]:
df2_2 = pd.DataFrame(np.random.randint(0,100,size=(100, 3)), columns=list('ABE'))
df2_2.A = df1_2.A.copy(deep=True)
df2_2.B = df1_2.B.copy(deep=True)

In [279]:
df1_2 = df1_2.append([{'A':0, 'B':100, 'C':0}],ignore_index=True)
df2_2 = df2_2.append([{'A':0, 'B':200, 'E':0}],ignore_index=True)

In [280]:
df1_2[(df1_2.B == 100) |(df1_2.B == 200)]

     A    B  C
100  0  100  0

In [281]:
df2_2[(df2_2.A == 0) | (df2_2.A == 0)]

     A    B  E
100  0  200  0

### Inner

In [292]:
merged_dinner = df1_2.merge(df2_2, on=['A','B'])
len(merged_dinner)

102

In [293]:
merged_dinner.tail()

      A   B   C   E
97   85  61   7  52
98   50  39  24   9
99   73  10  19  66
100  28  84  56  84
101  16  12  79  81

In [294]:
merged_dinner[(merged_dinner.B == 100) | (merged_dinner.B == 200)]

Empty DataFrame
Columns: [A, B, C, E]
Index: []

### Outer

In [295]:
merged_douter = df1_2.merge(df2_2, on=['A','B'],how='outer')
len(merged_douter)

104

In [296]:
merged_douter.tail()

      A    B     C     E
99   73   10  19.0  66.0
100  28   84  56.0  84.0
101  16   12  79.0  81.0
102   0  100   0.0   NaN
103   0  200   NaN   0.0

In [297]:
merged_douter[(merged_douter.B == 100)| (merged_douter.B == 200)]

     A    B    C    E
102  0  100  0.0  NaN
103  0  200  NaN  0.0

### Left

In [298]:
merged_dleft = df1_2.merge(df2_2, on=['A','B'],how='left')
len(merged_dleft)

103

In [299]:
merged_dleft.tail()

      A    B   C     E
98   50   39  24   9.0
99   73   10  19  66.0
100  28   84  56  84.0
101  16   12  79  81.0
102   0  100   0   NaN

In [300]:
merged_dleft[(merged_dleft.B == 100) | (merged_dleft.B == 200)]

     A    B  C   E
102  0  100  0 NaN

### Right

In [301]:
merged_dright = df1_2.merge(df2_2, on=['A','B'],how='right')
len(merged_dright)

103

In [302]:
merged_dright.tail()

      A    B     C   E
98   50   39  24.0   9
99   73   10  19.0  66
100  28   84  56.0  84
101  16   12  79.0  81
102   0  200   NaN   0

In [303]:
merged_dright[(merged_dright.B == 100) | (merged_dright.B == 200)]

     A    B   C  E
102  0  200 NaN  0